<footer class="page-footer blue darken-3">
    <div class="container">
        <div class="row">
            <div class=" s12 center">
                <a class="white-text" href="https://ivan-kayn.it/#/" target="_blank"> Contact me</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright blue darken-4">
        <div class="container center">
            © 2021 Copyright <span class="">IK</span>
        </div>
    </div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="/app.js"></script>

