<head>
    <meta charset="UTF-8">
    <title> {{ title }} </title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/materialize.min.css">

</head>