<h2 class="center">Welcome</h2>

<blockquote class="home__blockquote">
    <h4>You can find best programming courses here!</h4>
</blockquote>
    <a class="btn blue darken-4" href="/courses"> Courses </a>
<blockquote class="home__blockquote">
    <h4>You can also add and edit courses.</h4>
    <h5>But first you need to be registered.</h5>
</blockquote>
<a class="btn blue darken-4" href="/auth/login#login"> Log in </a>
<a class="btn blue darken-4" href="/auth/login#register"> Register </a>

